$bg: 1050px;

// graphic and photography section
.graphic-design-photography{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: end;
    
    
    &__layout{
        @media(min-width: $bg){
            display: grid;
            grid-template:
                "graphic-design photography" 1fr
                / 1fr 1fr
            ;
        }
    }
    &__text{
        height: 14.3rem;
        width: 32.7rem;
        margin-bottom: 6rem;
    }
    &__title{
        font-size: 2.8rem;
        font-weight: 100;
        letter-spacing: -.02rem;
    }
    &__message{
        font-size: 1.6rem;
        line-height: 2.7rem;
        font-weight: 600;
        letter-spacing: -.011rem;
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
    }
}

.graphic-design{
    
    background-image: url("../images/mobile/image-graphic-design.jpg");
    
    grid-area: graphic-design;

    @media(min-width: $bg){
        // insert larger image and show the center
        background-image: url("../images/desktop/image-graphic-design.jpg");
        background-position: center;
    }
    &__title{
        color: var(--desaturated-cyan-700);
    }
    &__message{
        color: var(--desaturated-cyan-700);
    }
}

.photography{
    background-image: url("../images/desktop/image-photography.jpg");
    background-position: center;

    grid-area: photography;

    &__title{
        color: var(--blue-700);
    }
    &__message{
        color: var(--blue-700);
    }
}