$bg: 1050px;

.footer{
    background-color: #90D4C6;
    padding: 6.4rem 0;
    text-align: center;

    // layout
    display: grid;

    @media(min-width: $bg){
        padding: 7.2rem 0;
    }

    &__logo{
        fill: var(--desaturated-cyan-700);
        justify-self: center;
    }

    &__nav{
        width: 30rem;
        justify-self: center;

        // layout
        display: flex;
        justify-content: space-between;
        margin: 4rem 0 8.8rem 0;
        &-link{
            // text
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2.5rem;
            letter-spacing: -.013rem;
            color: #458D7E;
            text-decoration: none;

            &:hover{
                // change color to white
                color: white;
            }
        }
        
    }

    &__social-media{
        // parent layout
        justify-self: center;

        // children layout
        display: flex;
        justify-content: space-between;
        height: 2rem;
        width: 16.4rem;
        &-links{
            // text
            height: 2rem;
            font-size: 2.2rem;
            color: #458D7E;
            fill: #458D7E;
            

            &:hover{
                color: white;
                fill: white;
            }
        }
    }
}