@import-normalize;
@import "reset-css";

// font family
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

html{
    font-size: 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

*, *::before, *::after{
    font-size: inherit;
    box-sizing: inherit;
}

img{
    max-width: 100%;
}