$bg: 1050px;

.header{
    // blue orange background image
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    // layout
    display: grid;
    grid-template:
        "logo " min-content
        "heading " 1fr
        / 1fr 
    ;

    &__logo-menu-icon{
        grid-area: logo;
        display: flex;
        justify-content: space-between;
        padding: 3.2rem 2.4rem 0;
    }

    &__logo{
        width: 12.364rem;
        height: 2.4rem;

        @media(min-width: $bg){
            // increase logo size
            width: 17rem;
            height: 3.3rem;
        }
    }

    &__menu-icon{
        font-size: 2.75rem;
        height: 1.8rem;
        color: var(--white);
        
        @media(min-width: $bg){
            // hide menu icon
            display: none;
        }
        
        &:hover{
            cursor: pointer;
        }
    }

    &__heading{
        grid-area: heading;
        justify-self: center;

        // heading layout
        display: grid;
        grid-template:
            1fr
            /1fr
        ;

        &-title{
            // h1 title
            margin-top: 8.8rem;
            font-size: 4rem;
            letter-spacing: .625rem;
            color: var(--white);
            text-align: center;
        }
        &-down-arrow{
            // spacing
            margin-top: 5.2rem;
            margin-bottom: 13.652rem;

            // center self
            justify-self: center;
        }
    }

    &__nav{
        // fade in the menu 
        opacity: 0;
        transition: .3s opacity linear;

        // layout base on parent
        grid-area: heading;
        z-index: -1;
        margin-top: 2.6rem;
        
        // move menu bellow the nav bar
        justify-self: end;
        margin-right: 2.4rem;

        // background
        width: 32.9rem;
        height: 32.9rem;
        background-image: url("../images/menu-background.svg");
        background-repeat: no-repeat;

        // layout for children
        display: grid;
        justify-items: center;
        padding: 6.3rem 9.5rem 3.9rem 9.4rem;

        @media(min-width: $bg){
            // always show the menu
            z-index: initial;
            opacity: 1;

            // remove background image
            background-image: none;

            // move menu links to logo area
            grid-area: logo;

            // move links side to side
        }

        &-link{
            // text
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: -.014rem;
            color: var(--grayish-blue-700);
            text-decoration: none;
            // margin-top: 3.2rem;
            margin-bottom: 3.2rem;

            &-contact{
                // the contact link
                height: 5.6rem;
                width: 14rem;
                font-family: "Fraunces", serif;
                font-size: 1.5rem;
                font-weight: 700;
                text-align: center;
                letter-spacing: -.011rem;
                color: var(--desaturated-blue-900);
                background-color: var(--yellow);
                border-radius: 2.8rem;
                padding: 1.6rem 2.9rem 1.5rem 3.2rem;
            }

        }

         &-open{
            z-index: 1;
            opacity: 1;
        }
    }

}

