.main{
    &__text{
        padding: 6.4rem 2.4rem;
        text-align: center;
    }
    &__title{
        font-size: 3.2rem;
        letter-spacing: -.023rem;
        color: var(--desaturated-blue-900);
        font-weight: 900;
    }
    &__message{
        font-size: 3rem;
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: -.013;
        font-weight: 600;

        margin-top: 2.4rem;
        margin-bottom: 3.2rem;

        color: var(--grayish-blue-700);
    }
    &__learn-more{
        text-decoration: none;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: .1rem;
        color: var(--desaturated-blue-900);
        font-family: "Fraunces", serif;

        &::after{
            // custom underline
            content: "";
            width: 13.7rem;
            height: 1rem;
            display: block;
            position: relative;
            bottom: 1rem;
            left: 9.5rem;
            z-index: -1;
            opacity: 25%;
            border-radius: 2.8rem;
        }
        // custom underline color  
        &-transform{
            &::after{
                background-color: var(--yellow);
            }
        }

        &-stand-out{
            &::after{
                background-color: var(--red);
            }
        }
    }

    // graphic and photgraphy section
    &__graphic-design-photography{
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60rem;
        width: 37.5rem;

        display: grid;
        justify-items: center;
        align-items: end;
        

        &-text{
            height: 14.3rem;
            width: 32.7rem;
            margin-bottom: 6rem;
        }
        &-title{
            font-size: 2.8rem;
            font-weight: 100;
            letter-spacing: -.02rem;
        }
        &-message{
            font-size: 1.6rem;
            line-height: 2.7rem;
            font-weight: 600;
            letter-spacing: -.011rem;
        }
    }

    &__graphic-design{
        
        background-image: url("../images/mobile/image-graphic-design.jpg");

        &-title{
            color: var(--desaturated-cyan-700);
        }
        &-message{
            color: var(--desaturated-cyan-700);
        }
    }

    &__photography{
        background-image: url("../images/desktop/image-photography.jpg");
        background-position: center;

        &-title{
            color: var(--blue-700);
        }
        &-message{
            color: var(--blue-700);
        }
    }

    // testinomials section
    &__testimonials{
        margin: 6.4rem 2.4rem 8.6rem;
        text-align: center;

        &-title{
            font-size: 1.6rem;
            font-weight: 100;
            letter-spacing: .4rem;
            color: var(--grayish-blue-400);
        }

        &-img{
            // round off the images
            border-radius: 50%;
            height: 7.2rem;
            width: 7.2rem;
        }

    }
}