#root{
    // colors
    // ### Primary
    --red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
        // (graphic design text)
    --desaturated-cyan-700: hsl(167, 40%, 24%);
        // (photography text)
    --blue-700: hsl(198, 62%, 26%);
        //(footer)
    --moderate-cyan-700 : hsl(168, 34%, 41%);

    // ### Neutral
    --desaturated-blue-900: hsl(212, 27%, 19%);
    --grayish-blue-900: hsl(213, 9%, 39%);
    --grayish-blue-700: hsl(232, 10%, 55%);
    --grayish-blue-400: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}