// testinomials section
.testimonials{
    margin: 6.4rem 2.4rem 8.6rem;
    text-align: center;

    &__title{
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: .4rem;
        color: var(--grayish-blue-400);
        margin-bottom: 6.4rem;
    }

    &__img{
        // round off the images
        border-radius: 50%;
        height: 7.2rem;
        width: 7.2rem;
    }

    &__message{
        color: var(--grayish-blue-900);
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: -.013rem;
        font-weight: 600;
        margin: 3.2rem 0;
    }
    &__name{
        font-size: 1.8rem;
        letter-spacing: -.013rem;
        font-weight: 100;
        color: var(--desaturated-blue-900);
    }
    &__profession{
        // text styles
        font-size: 1.4rem;
        letter-spacing: -.01rem;
        font-weight: 600;
        line-height: 2.5rem;
        color: var(--grayish-blue-400);

        // spacing
        margin-top: .9rem;
        margin-bottom: 6.4rem;

        &--last{
            margin-bottom: 8.6rem;
        }
    }
}